fieldset{
    border-radius: 1em;
}
h1{
    font-weight : 800;
    text-align: center;
}
#name {
    align-content: center;
    font-size: 2em;
}
#check{
    margin-left : 900px;
    font-size: 1em;
}